.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
  display: flex;
  align-items: center;

}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;

  min-height: 100vh;
  max-width: 1200px;

}


.cdk-drop-list-dragging .element-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.more{
  position: absolute;
  right:-40px;
  top:-8px;
  opacity: 0.5;
  float:right;
  z-index: 999;
}
.drag-handle{
  position: absolute;
  right:0;
  opacity: 0.5;
  float:right;
  z-index: 999;
}
.drag-handle:hover{
  cursor: move;
}

.title-input{
  font-size: 3em;
  width:100%;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color:#44B4EC !important;; }
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #44B4EC !important;
}
::ng-deep .mat-form-field{
  font-family: "Gilroy ExtraBold", serif !important;
}
.recommended{
  color: rgba(0,0,0, 0.8) !important;
}

.slide-top {
  display: inline-block;
  animation: slide-top 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate;
}
.shake {
  display: inline-block;
  animation: shake 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate;
}

