<nz-layout>

  <nz-sider nzCollapsible nzWidth="200px" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <app-global-sidemenu></app-global-sidemenu>
  </nz-sider>


  <nz-layout>
    <nz-header style="justify-content: space-between">
      <img src="assets/logoAnkieter2.png" height="100%" style="margin-left: 1rem;">
      <div style=" width:40vw; margin-left:5vw">
        <div>
          <app-user-indicator></app-user-indicator>
        </div>
      </div>

    </nz-header>
    <nz-content>
      <header class="header-container">
        <h1 class="breadcrumb-header">Edytor ankiety</h1>
      </header>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a [routerLink]="'/'">Ekran główny</a> </nz-breadcrumb-item>
        <nz-breadcrumb-item>Edytor ankiety</nz-breadcrumb-item>

      </nz-breadcrumb>
      <button nz-button (click)="dashboardModals.openExportReportDialog(getSurveyAsJson())"></button>
      <div class="inner-content ">
        <mat-form-field class="title-input">
          <input matInput placeholder="Nazwa ankiety" [(ngModel)]="this.surveyDefinition.title" (blur)="rename();save()">
        </mat-form-field>
      <app-survey-elements-renderer [survey]="surveyDefinition" [elements]="surveyDefinition.elements"></app-survey-elements-renderer>
      <app-survey-element-add (add)="($event)()" [collection]="this.surveyDefinition.elements" [allowed]="addButtonsList"></app-survey-element-add>

      </div>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</nz-layout>
