<nz-layout>

  <nz-sider nzCollapsible nzWidth="200px" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <app-global-sidemenu></app-global-sidemenu>
  </nz-sider>


  <nz-layout>
    <nz-header style="justify-content: space-between">
      <img src="assets/logoAnkieter2.png" height="100%" style="margin-left: 1rem;">
      <div style=" width:40vw; margin-left:5vw">
        <div>
          <app-user-indicator></app-user-indicator>
        </div>
      </div>

    </nz-header>
    <nz-content>
      <header class="header-container">
        <h1 class="breadcrumb-header">Edytor ankiety</h1>
      </header>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a [routerLink]="'/'">Ekran główny</a> </nz-breadcrumb-item>
        <nz-breadcrumb-item>Edytor ankiety</nz-breadcrumb-item>

      </nz-breadcrumb>
      <button nz-button (click)="dashboardModals.openExportReportDialog(getSurveyAsJson())">Pobierz jako JSON</button>
      <button nz-button (click)="surveysService.getSurveyXML(this.surveyId).then()">Pobierz jako XML</button>
      <div class="inner-content " *ngIf="surveyDefinition">
        <mat-form-field class="title-input">
          <input matInput placeholder="Nazwa ankiety" [(ngModel)]="this.surveyDefinition.title" (blur)="rename();save()">
        </mat-form-field>
        <div><h3 style="font-size: 1.3em;display: inline;margin-right: 2em;"><b>Strony:</b></h3>
         <button nz-button [nzType]="verticalDropList?'primary':'default'" (click)="verticalDropList=true;"> <i nz-icon nzType="unordered-list" nzTheme="outline"></i></button> <button [nzType]="!verticalDropList?'primary':'default'" style="margin-left: 0.3em" nz-button (click)="verticalDropList=false;" ><i nz-icon nzType="group" nzTheme="outline"></i></button>
        </div>

        <div *ngIf="verticalDropList" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListOrientation="vertical">
          <p>Przeciągnij aby zmienić kolejność</p>
          <p>Kliknij aby wybrać stronę do edycji</p>
          <nz-tag cdkDrag *ngFor="let page of allPages" (click)="changeCurrentPage(page)" style="display:block;cursor: pointer;font-size: 1.2em; padding:0.6em">{{page.id}}  ({{page.elements.length}})</nz-tag>
        </div>
        <div *ngIf="!verticalDropList">
          <p>Zmień tryb aby zmienić kolejność</p>
          <p>Kliknij aby wybrać stronę do edycji</p>
          <nz-tag *ngFor="let page of allPages" (click)="changeCurrentPage(page)" style="cursor: pointer;font-size: 1.2em; padding:0.6em">{{page.id}} ({{page.elements.length}})</nz-tag>
        </div>
          <app-survey-elements-renderer [survey]="surveyDefinition" [elements]="currentPage()" (save)="this.save()"></app-survey-elements-renderer>
      <app-survey-element-add (add)=" changeCurrentPage(($event)())" [collection]="this.surveyDefinition.elements" [allowed]="addButtonsList"></app-survey-element-add>

      </div>
      <nz-spin *ngIf="!surveyDefinition"></nz-spin>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</nz-layout>
