<nz-layout>




  <nz-layout>
    <nz-header style="justify-content: space-between">
      <img src="assets/logoAnkieter2.png" height="100%" style="margin-left: 1rem;">
      <div style=" width:40vw; margin-left:5vw">
        <nz-input-group nzSearch nzSize="large">

        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch>
            <i nz-icon nzType="search" nzTheme="outline"></i>
          </button>
        </ng-template>

      </div>
      <div>
        <button style="margin:1em" nz-button (click)="this.user.redirectToCASLogin()">Zaloguj <i  nz-icon nzType="login"></i></button>
      </div>
    </nz-header>
    <nz-content *ngIf="!canDisplayDashboard">
      <div class="inner-content">
      <button style="position: absolute;left:50%;top:50%;transform: translate(-50%,-50%)" class="btn-hover color-9" (click)="this.user.redirectToCASLogin()">Zaloguj się</button>
      </div>
    </nz-content>
    <nz-content *ngIf="canDisplayDashboard">
      <header class="header-container">
        <h1 class="breadcrumb-header">Publicznie dostępne raporty</h1>
      </header>


      <div class="inner-content">

        <section class="filters">

        </section>

        <div class="cards-container">

          <div class="card-padding" *ngFor="let dataObject of this.dashboardData" >

            <app-report-tile [report]="dataObject" *ngIf="dataObject.type=='report'" [fromLogin]="true"></app-report-tile>
          </div>


        </div>
      </div>
    </nz-content>
    <nz-footer>UAM - Ankieter+</nz-footer>
  </nz-layout>
</nz-layout>
