



    <nz-content style="width: 90%; margin:auto; max-width: 900px;font-size:110%" class="print-wide" id="main">
      <header class="header-container">
        <h1 class="breadcrumb-header">{{this.reportDefinition.title}}</h1>
      </header>

      <div class="inner-content ">

        <div class="report-element">
          <div class="custom-placeholder"></div>


          <div *ngFor="let element of reportDefinition.elements" class="element-box" style="position:relative;">

            <div [ngSwitch]="element.type" style="position:relative;" class="dont-break">
              <app-text-editor-view [isPreview]="true" *ngSwitchCase="'text'" [(text)]="element.content.text" (focusEvent)="save()" ></app-text-editor-view>
              <app-chart-editor-view (chartDataChange)="save()" *ngSwitchCase="'chart'" [(chartData)]="element.content"
                                     [forceUpdate]="null" [globalFilter]="this.reportDefinition.globalFilter"
                                     [isPreview]="true" [namingDictionary]="namingDictionary"
                                     [questions]="surveyQuestions" [reportId]="reportId" [report]="reportDefinition"
                                     [surveyId]="this.linkedSurveyId"></app-chart-editor-view>
            </div>

          </div>
        </div>


      </div>
    </nz-content>

