<nz-layout>

  <nz-sider nzCollapsible nzWidth="200px" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <app-global-sidemenu></app-global-sidemenu>
  </nz-sider>


  <nz-layout>
    <nz-header style="justify-content: space-between">
      <img src="assets/logoAnkieter2.png" height="100%" style="margin-left: 1rem;">
      <div style=" width:40vw; margin-left:5vw">
        <nz-input-group nzSearch nzSize="large">
          <input placeholder="Szukaj po nazwie" nz-input [(ngModel)]="inputValue" (input)="onChange($event)" (ngModelChange)="onChange($event)"
                 [nzAutocomplete]="auto"/>
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch>
            <i nz-icon nzType="search" nzTheme="outline"></i>
          </button>
        </ng-template>
        <nz-autocomplete #auto>
          <nz-auto-option (click)="changeFilter('')" class="global-search-item" *ngFor="let entry of this.dashboardData.objects | filterByName:inputValue"
                          [nzValue]="entry.name">
            {{ entry.name }}


          </nz-auto-option>
        </nz-autocomplete>
      </div>
    <div>
      <app-user-indicator></app-user-indicator>
    </div>
    </nz-header>
    <nz-content>
      <header class="header-container">
        <h1 class="breadcrumb-header">Raporty i ankiety</h1>
      </header>

      <nz-breadcrumb>
        <nz-breadcrumb-item>Ekran główny</nz-breadcrumb-item>
        <nz-breadcrumb-item>Raporty i ankiety</nz-breadcrumb-item>

      </nz-breadcrumb>
      <div class="inner-content">

        <section class="filters">
          <nz-button-group>
            <button nz-button [nzType]="filter_tmp==''?'primary':'default'" (click)="changeFilter('')"><i nz-icon
                                                                                                          nzType="select"></i>
              Wszystkie
            </button>
            <button nz-button [nzType]="filter_tmp=='report'?'primary':'default'" (click)="changeFilter('report')"><i nz-icon
                                                                                                           nzType="line-chart"></i>
              Tylko raporty
            </button>
            <button nz-button [nzType]="filter_tmp=='survey'?'primary':'default'" (click)="changeFilter('survey')"><i nz-icon
                                                                                                           nzType="folder"></i>Tylko ankiety
            </button>
          </nz-button-group>
          <div class="search-term-indicator" *ngIf="inputValue">
           <span class="search-term-indicator-label">Tylko o nazwie:</span> <nz-tag class="search-term-indicator-tag" nzMode="closeable" [nzColor]="'magenta'" (nzOnClose)="hideAndShow();inputValue=''" >{{inputValue}}</nz-tag>

          </div>
        </section>

        <div class="cards-container">
          <div class="cards-container-vertical">

            <div class="card-padding">
              <nz-card class="add-new" [routerLink]="['surveysEditor']">
                <i nz-icon nzType="appstore-add" style="font-size: 2.7rem; display: block"></i>
                <div style="display: block; text-align: center">Nowa ankieta</div>
              </nz-card>
            </div>
            <div class="card-padding">
              <nz-card class="add-new" (click)="dashboardModals.openNewReportDialog()">
                <i nz-icon nzType="folder-add" style="font-size: 2.7rem; display: block"></i>
                <div style="display: block; text-align: center">Nowy raport</div>
              </nz-card>
            </div>
          </div>
          <div class="card-padding" *ngFor="let dataObject of this.dashboardData.objects | filterByType: this.filter | filterByName: inputValue" [@hide]="loading">
            <app-survey-tile [survey]="dataObject" *ngIf="dataObject.type=='survey'"></app-survey-tile>
            <app-report-tile (reloadEmitter)="reload()" [report]="dataObject" *ngIf="dataObject.type=='report'"></app-report-tile>
          </div>


        </div>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
