/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family:"Gilroy ExtraBold";
  src: url("assets/Gilroy-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family:"Gilroy Light";
  src: url("assets/Gilroy-Light.otf") format("opentype");
}
nz-layout{
  background-color: #F8F8FB!important;
}
nz-breadcrumb-item{
  font-family: "Gilroy Light", sans-serif;
  color:#A6ACBE!important;
}
.breadcrumb-header{
  font-family: "Gilroy ExtraBold",sans-serif!important;
  font-size: 30pt!important;

  color:#000000;
}
.header-container{
  margin-top:50px;
}
nz-breadcrumb-item:last-child{
  color:#6F52ED!important;
}
nz-card{
  border-radius: 10px!important;

}
.ant-card-actions{
  position: absolute;
  bottom: 0;
  width:395px;
}
.ant-card-actions{
  border-top:none;
  border-radius: 90px;
}
.ant-card-actions .anticon{
  color:rgba(0,0,0,0.7)!important;
}
.ant-card-actions .anticon:hover{
  color:#6F52ED!important;
}

/*.ant-collapse-header{*/
/*  font-family: "Gilroy ExtraBold", sans-serif;*/
/*  font-size: 1.2em;*/
/*}*/
.ant-collapse{
  background-color: transparent!important;
}
.entry .ant-select-selector{

  border: 0px solid black!important;
  background-color: transparent!important;
}
.entry .ant-select{
  border: 0px solid black!important;
  font-size: 12px!important;

}
.entry .ant-select-selection-search{

}
.force-input-borderless{
  border:none!important;
  box-shadow: none!important;
}
